@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}

/* Example for navbar */
.navbar {
  @apply bg-white text-black;
}

.dark .navbar {
  @apply bg-gray-800 text-white;
}


[contentEditable=true][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #9b9bab; /* Or your placeholder color */
  pointer-events: none;
  display: block; /* For a div */
}